openapi: 3.1.0
info:
  title: Justement API
  version: 1.0.0
servers:
- url: https://justement.ch
paths:
  /api/search:
    get:
      description: Search Justement and receive a result page with up to 10 snippets
        of matching documents, ranked by relevance.
      operationId: Search Justement
      parameters:
      - name: query
        in: query
        description: |
          **Search query**: Retrieves the count of documents matching the criteria.
            - Terms are **implicitly ANDed** (e.g., `hund biss` only matches documents containing both terms).
            - Supports **exact phrases** (e.g., `"hund spazieren"`) and **proximity searches** (e.g., `"hund biss"~10`).
            - **Excludes terms** with `-term` (e.g., `beschattung -besonnung`).
            - **Prefix search** with `term*` for terms with at least 3 characters.
            - **Synonym expansion and translations** with lower relevance ranking.

          For advanced operators and tips, see [Justement Search Tips](https://justement.ch/en/search).
        required: false
        schema:
          default: ''
          type: string
        examples:
          Legal Reference:
            summary: Searches for a specific legal article
            description: Matches documents containing a reference to 'art 3 lit c
              ziff 4 dsg'
            value: art 3 lit c ziff 4 dsg
          Complex Legal Reference:
            summary: Legal reference with context
            description: Searches for discrimination cases related to Article 8(2)
              of the Federal Constitution
            value: art. 8 abs. 2 BV diskriminierung
          Advanced Search:
            summary: Proximity search with wildcards
            description: Finds documents where 'öffentliches' and 'interesse' appear
              within 5 words, combined with words starting with 'verhältnismässig'
            value: '"öffentliches interesse"~5 verhältnismässig*'
          Basic Terms:
            summary: Searches for two basic terms
            description: Matches documents containing both 'hund' and 'biss'
            value: hund biss
          Phrase:
            summary: When phrased terms appear near each other and in the same order
            description: Matches documents containing the terms 'hund' 'biss' near
              each other and in the same order
            value: hund biss
      - name: page
        in: query
        description: Result page (1-based). Maximum page is total results / 10 rounded
          up.
        required: false
        schema:
          default: 1
          type: integer
          format: int32
          minimum: 1
      - name: classificationFacet
        in: query
        description: |
          **Classification facet**: Filters results based on hierarchical categories.
          Each element in the list represents a level in the hierarchy:
            - `["Staatsrecht", "Grundrecht"]`: filters to Staatsrecht (Public Law) and Grundrecht (Fundamental Rights).
            - `["Privatrecht", "Zivilrecht", "Vertragsrecht"]`: filters to Privatrecht (Private Law), Zivilrecht (Civil Law), and Vertragsrecht (Contract Law).
            - `["Strafrecht", "Straftaten"]`: filters to Strafrecht (Criminal Law) and Straftaten (Offenses).

          See the full classification hierarchy:
          ```plaintext
          Staatsrecht
          ├── Abgaberecht & öffentliche Finanzen
          ├── Bau- & Planungsrecht
          ├── Bürger- & Ausländerrecht
          ├── Energie/Verkehr/Medien
          │   └── Verkehr
          ├── Grundrecht
          ├── Gesundheit & soziale Sicherheit
          ├── Öffentliches Dienstverhältnis
          ├── Ökologisches Gleichgewicht
          ├── Politische Rechte
          ├── Rechtshilfe & Auslieferung
          ├── Schuldbetreibungs- & Konkursrecht
          ├── Sozialversicherungsrecht
          │   ├── AHV
          │   ├── ALV
          │   ├── BV
          │   ├── EL
          │   ├── IV
          │   ├── KV
          │   └── UV
          ├── Unterrichtswesen & Berufsausbildung
          ├── Verfahren
          │   ├── Strafprozess
          │   ├── Zivilprozess
          │   └── Zuständigkeitsfragen
          └── Verfahrensrecht

          Privatrecht
          ├── Immaterialgüter-, Wettbewerbs- & Kartellrecht
          ├── Obligationen- & Handelsrecht
          │   ├── Gesellschaftsrecht
          │   ├── Haftpflichtrecht
          │   ├── Obligationsrecht (allgemein)
          │   └── Vertragsrecht
          └── Zivilrecht
             ├── Erbrecht
             ├── Familienrecht
             ├── Personenrecht
             └── Sachenrecht

          Strafrecht
          ├── Straf- & Massnahmenvollzug
          ├── Straftaten
          └── Strafrecht (allgemein)
          ```
        required: false
        schema:
          default: []
          type: array
          items:
            type: string
        examples:
          No Facet Filter:
            summary: All classifications
            description: All documents that match the other parameters are returned
            value: []
          Basic Filter:
            summary: Filters results to Public Law > Fundamental Rights
            description: Limits search results to documents categorized under Staatsrecht
              (Public Law) and Grundrecht (Fundamental Rights).
            value:
            - Staatsrecht
            - Grundrecht
          Contract Law:
            summary: Filters to Contract Law hierarchy
            description: Narrows results to Private Law > Contract and Commercial
              Law > Contract Law
            value:
            - Privatrecht
            - Obligationen- & Handelsrecht
            - Vertragsrecht
          Deep Hierarchy:
            summary: Filters to Private Law > Civil Law > Inheritance Law
            description: Limits results to documents categorized under Privatrecht
              (Private Law), Zivilrecht (Civil Law), and Erbrecht (Inheritance Law).
            value:
            - Privatrecht
            - Zivilrecht
            - Erbrecht
          Offenses:
            summary: Filters to Criminal Law > Offenses
            description: Limits search results to documents categorized under Strafrecht
              (Criminal Law) and Straftaten (Offenses).
            value:
            - Strafrecht
            - Straftaten
      - name: language
        in: query
        description: Preferred language for snippets.
        required: false
        schema:
          $ref: '#/components/schemas/Language'
        examples:
          German:
            summary: Default language setting
            description: Sets German as the preferred language for snippets
            value: de
          French:
            summary: French language option
            description: Sets French as the preferred language for snippets
            value: fr
          Italian:
            summary: Italian language option
            description: Sets Italian as the preferred language for snippets
            value: it
      responses:
        '200':
          description: Search result snippets that match the query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResultSnippets'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      security:
      - httpAuth: []
      x-speakeasy-pagination:
        type: offsetLimit
        inputs:
        - name: page
          in: parameters
          type: page
        outputs:
          results: $.results
      x-speakeasy-retries:
        strategy: backoff
        backoff:
          initialInterval: 500
          maxInterval: 60000
          maxElapsedTime: 300000
          exponent: 1.5
        statusCodes:
        - '429'
        - 5XX
        retryConnectionErrors: true
  /api/count:
    get:
      description: Count the number of documents matching the search criteria.
      operationId: Count Search Results
      parameters:
      - name: query
        in: query
        description: |
          **Search query**: Retrieves the count of documents matching the criteria.
            - Terms are **implicitly ANDed** (e.g., `hund biss` only matches documents containing both terms).
            - Supports **exact phrases** (e.g., `"hund spazieren"`) and **proximity searches** (e.g., `"hund biss"~10`).
            - **Excludes terms** with `-term` (e.g., `beschattung -besonnung`).
            - **Prefix search** with `term*` for terms with at least 3 characters.
            - **Synonym expansion and translations** with lower relevance ranking.

          For advanced operators and tips, see [Justement Search Tips](https://justement.ch/en/search).
        required: false
        schema:
          default: ''
          type: string
        examples:
          Legal Reference:
            summary: Searches for a specific legal article
            description: Matches documents containing a reference to 'art 3 lit c
              ziff 4 dsg'
            value: art 3 lit c ziff 4 dsg
          Complex Legal Reference:
            summary: Legal reference with context
            description: Searches for discrimination cases related to Article 8(2)
              of the Federal Constitution
            value: art. 8 abs. 2 BV diskriminierung
          Advanced Search:
            summary: Proximity search with wildcards
            description: Finds documents where 'öffentliches' and 'interesse' appear
              within 5 words, combined with words starting with 'verhältnismässig'
            value: '"öffentliches interesse"~5 verhältnismässig*'
          Basic Terms:
            summary: Searches for two basic terms
            description: Matches documents containing both 'hund' and 'biss'
            value: hund biss
          Phrase:
            summary: When phrased terms appear near each other and in the same order
            description: Matches documents containing the terms 'hund' 'biss' near
              each other and in the same order
            value: hund biss
      - name: classificationFacet
        in: query
        description: |
          **Classification facet**: Filters results based on hierarchical categories.
          Each element in the list represents a level in the hierarchy:
            - `["Staatsrecht", "Grundrecht"]`: filters to Staatsrecht (Public Law) and Grundrecht (Fundamental Rights).
            - `["Privatrecht", "Zivilrecht", "Vertragsrecht"]`: filters to Privatrecht (Private Law), Zivilrecht (Civil Law), and Vertragsrecht (Contract Law).
            - `["Strafrecht", "Straftaten"]`: filters to Strafrecht (Criminal Law) and Straftaten (Offenses).

          See the full classification hierarchy:
          ```plaintext
          Staatsrecht
          ├── Abgaberecht & öffentliche Finanzen
          ├── Bau- & Planungsrecht
          ├── Bürger- & Ausländerrecht
          ├── Energie/Verkehr/Medien
          │   └── Verkehr
          ├── Grundrecht
          ├── Gesundheit & soziale Sicherheit
          ├── Öffentliches Dienstverhältnis
          ├── Ökologisches Gleichgewicht
          ├── Politische Rechte
          ├── Rechtshilfe & Auslieferung
          ├── Schuldbetreibungs- & Konkursrecht
          ├── Sozialversicherungsrecht
          │   ├── AHV
          │   ├── ALV
          │   ├── BV
          │   ├── EL
          │   ├── IV
          │   ├── KV
          │   └── UV
          ├── Unterrichtswesen & Berufsausbildung
          ├── Verfahren
          │   ├── Strafprozess
          │   ├── Zivilprozess
          │   └── Zuständigkeitsfragen
          └── Verfahrensrecht

          Privatrecht
          ├── Immaterialgüter-, Wettbewerbs- & Kartellrecht
          ├── Obligationen- & Handelsrecht
          │   ├── Gesellschaftsrecht
          │   ├── Haftpflichtrecht
          │   ├── Obligationsrecht (allgemein)
          │   └── Vertragsrecht
          └── Zivilrecht
             ├── Erbrecht
             ├── Familienrecht
             ├── Personenrecht
             └── Sachenrecht

          Strafrecht
          ├── Straf- & Massnahmenvollzug
          ├── Straftaten
          └── Strafrecht (allgemein)
          ```
        required: false
        schema:
          default: []
          type: array
          items:
            type: string
        examples:
          No Facet Filter:
            summary: All classifications
            description: All documents that match the other parameters are returned
            value: []
          Basic Filter:
            summary: Filters results to Public Law > Fundamental Rights
            description: Limits search results to documents categorized under Staatsrecht
              (Public Law) and Grundrecht (Fundamental Rights).
            value:
            - Staatsrecht
            - Grundrecht
          Contract Law:
            summary: Filters to Contract Law hierarchy
            description: Narrows results to Private Law > Contract and Commercial
              Law > Contract Law
            value:
            - Privatrecht
            - Obligationen- & Handelsrecht
            - Vertragsrecht
          Deep Hierarchy:
            summary: Filters to Private Law > Civil Law > Inheritance Law
            description: Limits results to documents categorized under Privatrecht
              (Private Law), Zivilrecht (Civil Law), and Erbrecht (Inheritance Law).
            value:
            - Privatrecht
            - Zivilrecht
            - Erbrecht
          Offenses:
            summary: Filters to Criminal Law > Offenses
            description: Limits search results to documents categorized under Strafrecht
              (Criminal Law) and Straftaten (Offenses).
            value:
            - Strafrecht
            - Straftaten
      responses:
        '200':
          description: Number of results.
          content:
            application/json:
              schema:
                type: integer
                format: int32
              example: 67
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      security:
      - httpAuth: []
      x-speakeasy-retries:
        strategy: backoff
        backoff:
          initialInterval: 500
          maxInterval: 60000
          maxElapsedTime: 300000
          exponent: 1.5
        statusCodes:
        - '429'
        - 5XX
        retryConnectionErrors: true
  /api/document:
    get:
      description: |-
        Retrieve a document by its document identifier.

        The docId is returned by the `search` endpoint as part of the result snippets.
        The response includes the full document content and metadata.
      operationId: Retrieve a Document by ID
      parameters:
      - name: docId
        in: query
        description: The `docId` of the document that should be returned.
        required: true
        schema:
          type: string
        examples:
          Example0:
            value: jurisdiction/ch/bundesgericht-leitentscheide/2021/147-i-89
          Example1:
            value: jurisdiction/sg/verwaltungsgericht/2014/b-2014-108
      responses:
        '200':
          description: |-
            Full document content with metadata. The response includes:
             - docId: Unique document identifier
             - url: Direct link to document on justement.ch
             - name: Document title/reference
             - language: Document language (de/fr/it)
             - text: Full text content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentNotFoundError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      security:
      - httpAuth: []
      x-speakeasy-retries:
        strategy: backoff
        backoff:
          initialInterval: 500
          maxInterval: 60000
          maxElapsedTime: 300000
          exponent: 1.5
        statusCodes:
        - '429'
        - 5XX
        retryConnectionErrors: true
  /api/documentByRef:
    get:
      description: |-
        Retrieve a document using its standard legal reference.

        This endpoint accepts Swiss legal references in their standard citation format
        and returns the corresponding document if found.
      operationId: Retrieve a Document by Reference
      parameters:
      - name: docRef
        in: query
        description: The legal reference of the document.
        required: true
        schema:
          type: string
        examples:
          Example0:
            value: BGE 148 I 1
          Example1:
            value: 2C_793/2021
          Example2:
            value: VB.2021.00123
      responses:
        '200':
          description: |-
            Full document content with metadata. The response includes:
             - docId: Unique document identifier
             - url: Direct link to document on justement.ch
             - name: Document title/reference
             - language: Document language (de/fr/it)
             - text: Full text content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentNotFoundError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      security:
      - httpAuth: []
      x-speakeasy-retries:
        strategy: backoff
        backoff:
          initialInterval: 500
          maxInterval: 60000
          maxElapsedTime: 300000
          exponent: 1.5
        statusCodes:
        - '429'
        - 5XX
        retryConnectionErrors: true
components:
  schemas:
    AuthenticationError:
      title: AuthenticationError
      type: object
      required:
      - message
      properties:
        message:
          type: string
    DecisionDocument:
      title: DecisionDocument
      type: object
      required:
      - docId
      - url
      - name
      - organ
      - year
      - language
      - text
      properties:
        docId:
          type: string
        url:
          type: string
        name:
          type: string
        organ:
          type: string
        year:
          type: integer
          format: int32
        language:
          type: string
        text:
          type: string
    Document:
      title: Document
      oneOf:
      - $ref: '#/components/schemas/DecisionDocument'
    DocumentNotFoundError:
      title: DocumentNotFoundError
      type: object
      required:
      - message
      properties:
        message:
          type: string
    InternalError:
      title: InternalError
      type: object
      required:
      - message
      properties:
        message:
          type: string
    Language:
      title: Language
      default: de
      type: string
      enum:
      - de
      - en
      - fr
      - it
      - rm
    SearchResultSnippet:
      title: SearchResultSnippet
      type: object
      required:
      - docId
      - documentUrl
      - name
      - source
      - year
      - language
      - snippet
      properties:
        docId:
          type: string
        documentUrl:
          type: string
        name:
          type: string
        source:
          type: string
        year:
          type: integer
          format: int32
        language:
          type: string
        snippet:
          type: string
    SearchResultSnippets:
      title: SearchResultSnippets
      type: object
      required:
      - resultCount
      properties:
        resultCount:
          type: integer
          format: int32
        results:
          type: array
          items:
            $ref: '#/components/schemas/SearchResultSnippet'
    ValidationError:
      title: ValidationError
      type: object
      required:
      - message
      properties:
        message:
          type: string
  securitySchemes:
    httpAuth:
      type: http
      scheme: bearer
